*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #383838;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background: url('wishbonedelux.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
}
.HeaderContent{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
nav{
    background-color: rgba(83, 130, 172, 0.171);
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
}
.navLinks{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 100px;
}
.navLinks li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.logo{
    width: 50px;
    height: 50px;
    margin-left: 50px;
}
h1{
    font-size: 50px;
    color: #012C42;
}
h2{
    font-size: 30px;
    color: #457490;
}
.AlbumsSection{
    align-items: center;
    color: white;
}